.scrollbar
    position: relative
    display: flex
    justify-content: center
    height: 1px
    border-top: 1px solid black
    width: 300px

.icon-cursor
    position: absolute
    top: -18px
    font-size: 35px
    transform: scale(1)
    transition: transform 0.3s ease-out
    color: purple
    &:hover
        transform: scale(1.2)
        transition: transform 0s
        