.scrollbar
    position: relative
    display: flex
    justify-content: center
    border-top: 1px solid $grey
    width: 400px
    .icon-cursor
        position: absolute
        top: -18.2px
        left: 0
        font-size: 35px
        transform: scale(1)
        transition: transform 0.3s ease-out
        color: $light-grey
        &:hover
            transform: scale(1.2)
            transition: transform 0s
            text-shadow: 0 0 10px $light-grey
        