html, body 
    margin: 0
    padding: 0
    width: 100%
    height: 100vh
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    background: $bg-color
    background-image: $bg-gradient

.gallery
    display: flex
    width: 100vw
    padding: 50px 30% 0 20%
    overflow-y: hidden
    scroll-snap-type: none
    z-index: 200
    &__item
      flex: 1 0 310px
      scroll-snap-align: start
      list-style-type: none
      img
        border: 2px solid red
        width: 300px

// Transparent scrollbar
.gallery
    -ms-overflow-style: none  // IE and Edge
    scrollbar-width: none  // Firefox
.gallery::-webkit-scrollbar // Chrome, Safari and Opera
    display: none